﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<!--index view which will serve as the home page for the competition invites-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!--Style sheets that will be used to improve the visuals of the web page -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>

    <div class="text-center"> 
        <h2>We're going to have an exciting competition!</h2>
        <h3>And you're invited to compete</h3>
        <!--Provide an action link which will invoke the 'RSVP' action method -->
        <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RSVP")
            </div>
    </div>
</body>
</html>
