﻿@using CompetitionInvites.Models
@model CompetitorResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>RSVP</title>
</head>
<body>
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h4>RSVP</h4></div>
            <div class="panel-body">
        <!--Use the HTML.BeginForm to use the resources to build a form that allows the user to enter data
            The form will created an object of type CompetitorResponse based on the values which they will be entering in 
            the textboxes and the dropdown option selected-->
        @using (Html.BeginForm("RSVP", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary()//checks to make sure everything is entered correctlty within the form
            <div class="form-group">
                <label>Your name: @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })</label>
            </div>
            <div class="form-group">
                 <label>Your email: @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</label>
            </div>
            <div class="form-group">
                <label>Your phone Number: @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })</label>
            </div>
            <div class="form-group">
                <label>Your address: @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })</label>
            </div>
            <div class="form-group">
                <label>Your twitter account: @Html.TextBoxFor(x => x.TwitterAccount, new { @class = "form-control" })</label>
            </div>
            <div class="form-group">

                <label>What is your technical interest?</label>
                @Html.EnumDropDownListFor(model => model.Interest, new { @class = "form-control" })
                
            </div>
            <!--Submit the users details provided in the form. Two buttons are provided, one which states the user is attending and the other stating they cannot attend-->
            <div class="text-center"><input class="btn btn-success" type="submit" value="I will attend" name="responseBtn" /> 
                <input class="btn btn-success" type="submit" value="I cannot attend" name="responseBtn"/> </div>

        }    
            </div>
    </div>
</body>
</html>
