﻿@model CompetitionInvites.Models.CompetitorResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    @{ //send an email to the email that was supplied so that the user can confirm if they are attending or not
        try
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "rsvps@example.com";

            WebMail.Send("competition-host@example.com", "RSVP Notification",
                Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")
                    + "attending");

        }
        catch (Exception)
        {
            @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
        }
    }

     <div class="text-center">
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">

        @if (Model.WillAttend == true)// if the user said they would attend, provide a message confirming their attendence
        {
            @:Thank you for your response! We are excited to see you on October 25th!
            <p>You are enrolled in the <b>@Model.Interest</b> track of the competition</p>
        }
        else //else provide a message regarding about them not coming
        {
            @:Sorry to hear that you can't make it. We hope to see you next year.
        }
            </div>
</div>
</body>
</html>
